.footer
	.container.clearfix
		.footer__copy.footer__col
			p.copy
				| Сделано с любовью и старанием на курсе &laquo;HTML + CSS&raquo; в 
				a(href="https://loftschool.com/" target="_blank").copy-website LoftSchool
				| . Автор работы:
				a(href="https://vk.com/id138371395" target="_blank").copy-name  Феер Александр
		.footer__logo.logo.footer__col
			a(href="/home.html").logo__link
				img(src=require("../images/logo.svg") alt="coworking").logo__img
		.footer__socials.footer__col
			.socials
				.socials__title Наши социальные сети
				ul.socials__list
					li.socials__item
						a(href="https://vk.com/toradora_anime").socials__link.socials__link_vk
							i.icon.icon-vk &#xe807;
					li.socials__item
						a(href="https://www.facebook.com/aleksandr.feer.94").socials__link.socials__link_fb
							i.icon.icon-fb &#xe802;
					li.socials__item
						a(href="https://plus.google.com/u/0/103592186503547477623").socials__link.socials__link_google
							i.icon.icon-google &#xe804;
					li.socials__item
						a(href="https://twitter.com/junyxiz").socials__link.socials__link_tw
							i.icon.icon-tw &#xe806;
					li.socials__item
						a(href="https://my.mail.ru/list/pertik/").socials__link.socials__link_email
							i.icon.icon-email &#xe801;